.boton {
    border: solid white;
    border-radius: 8px;
    color: white;
    background-color: green;
    font-size: 20px;
    text-align: center;
    font-family: Calibri;
}

.boton:hover {
    border: solid green;
    border-radius: 8px;
    color: green;
    background-color: white;
    font-size: 20px;
    text-align: center;
    font-family: Calibri;
}

.texto {
    font-size: 20px;
    font-family: calibri;
}

.tabla {
    width: 200px;
    height: 150px;
    text-align: left;
    border-collapse: collapse;
    font-size: 20px;
    font-family: calibri;
    table-layout: fixed;
}

th,
td {
    border-collapse: collapse;
    width: 150px;
    overflow: hidden;
}